:root {
  /*--headerNewColor: #FB8C00*/
  --primary: #0288D1;
  --asideColor: #f4f4f4;
  --sectionColor: #f8f8f8;
  --shadow: rgba(0,0,0, .1);
  --lightSeparator: #ccc;
  --itemHover: rgba(2,136,209,.18);
  --itemTxt: #34515f;
  --darkPrimary: #1a1625;
  --darkAside: #2f2b3a;
  --darkSection: #2f2b3a;
  --darkPrimary: #101214;
  --darkAside: #1D2125;
  --darkSection: #1D2125;
  --darkShadow: rgba(255,255,255,.15);
  --darkSeparator: #333;
  --darkItemHover: rgba(255,255,255,.08);
  --darkDropdown: #282828;
  --darkDialogShadow: rgba(0,255,255,.1);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

body {
  overflow: overlay;
}

.screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: none;
}

#startUp {
  display: block;
}

#blocked {
  display: none;
  z-index: 15;
}
#blocked #blockedBack {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#blocked #blockedBack #signInBrand {
  width: 340px;
  padding: 24px 0px;
  display: flex;
  margin-top: -30px;
  align-items: center;
  justify-content: center;
}
#blocked #blockedBack #signInBrand #signInLogo {
  position: relative;
  width: 40px;
  height: 40px;
}
#blocked #blockedBack #signInBrand #signInLogo #brandBack {
  fill: transparent;
}
#blocked #blockedBack #signInBrand #signInLogo #brandBorder {
  fill: var(--primary);
}
#blocked #blockedBack #signInBrand h1 {
  color: var(--primary);
  margin-left: 20px;
  cursor: default;
  font-size: 32pt;
  font-weight: normal;
}
#blocked #blockedBack #signIn {
  position: relative;
  width: 340px;
  height: auto;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
#blocked #blockedBack #signIn #signInTitle {
  position: relative;
  width: 100%;
  height: auto;
  padding: 25px 0px;
  text-align: center;
  color: #fff;
  background-color: var(--primary);
}
#blocked #blockedBack #signIn #signInTitle h1 {
  font-weight: 300;
}
#blocked #blockedBack #signIn #signInBody {
  position: relative;
  width: 100%;
  height: auto;
}
#blocked #blockedBack #signIn #signInBody #signInError {
  position: relative;
  width: 100%;
  min-height: 30px;
  padding: 15px 0px;
  text-align: center;
  color: #f00;
}
#blocked #blockedBack #signIn #signInBody .signInBodyItem {
  position: relative;
  margin: 0px 40px 28px;
}
#blocked #blockedBack #signIn #signInBody .signInBodyItem #signInUser, #blocked #blockedBack #signIn #signInBody .signInBodyItem #signInPass {
  width: 100%;
  height: 40px;
  font-size: 13pt;
  padding-left: 40px;
  border: 0px;
  outline: 0;
  box-sizing: border-box;
}
#blocked #blockedBack #signIn #signInBody .signInBodyItem #signInUser:hover ~ .signInInputEffect, #blocked #blockedBack #signIn #signInBody .signInBodyItem #signInPass:hover ~ .signInInputEffect {
  width: 100%;
  left: 0%;
  border-color: #ccc;
}
#blocked #blockedBack #signIn #signInBody .signInBodyItem #signInUser:focus ~ .signInInputEffect, #blocked #blockedBack #signIn #signInBody .signInBodyItem #signInPass:focus ~ .signInInputEffect {
  width: 100%;
  left: 0%;
  border-color: var(--primary);
}
#blocked #blockedBack #signIn #signInBody .signInBodyItem #signInUser:focus ~ .signInIcons, #blocked #blockedBack #signIn #signInBody .signInBodyItem #signInPass:focus ~ .signInIcons {
  fill: #444;
}
#blocked #blockedBack #signIn #signInBody .signInBodyItem .signInIcons {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 6px;
  top: 8px;
  fill: #777;
}
#blocked #blockedBack #signIn #signInBody .signInBodyItem .signInInputEffect {
  position: absolute;
  width: 0%;
  left: 50%;
  bottom: 0px;
  border-bottom: 2px solid;
  transition: all 0.2s;
}
#blocked #blockedBack #signIn #signInBody .signInBodyItem #signInSubmit {
  width: 100%;
  height: 50px;
  color: var(--primary);
  font-size: 13pt;
  margin-top: 15px;
  border-radius: 12px;
  text-align: center;
  border: 0px;
  outline: 0;
  background-color: #fff;
}
#blocked #blockedBack #signIn #signInBody .signInBodyItem #signInSubmit:hover, #blocked #blockedBack #signIn #signInBody .signInBodyItem #signInSubmit:focus {
  background-color: var(--itemHover);
}
#blocked #blockedBack #loginLang {
  position: absolute;
  right: 15px;
  bottom: 12px;
}
#blocked #blockedBack #loginLang select {
  width: 150px;
  height: 32px;
  color: #777;
  outline: 0;
  font-size: 13pt;
  padding: 0px 10px;
  border: 0px solid #ccc;
}

header {
  position: relative;
  width: 100%;
  height: 50px;
  top: 0px;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  z-index: 10;
  transition: background-color 0.4s;
}
header div#headerTitle {
  position: relative;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 50px;
}
header div#headerTitle #headerLogo {
  position: relative;
  width: 28px;
  height: 28px;
  left: 20px;
}
header div#headerTitle #headerLogo #logoBack {
  fill: transparent;
}
header div#headerTitle #headerLogo #logoBorder {
  fill: #ffb300;
  fill: #fff;
}
header div#headerTitle h1 {
  color: #fff;
  margin-left: 30px;
  cursor: default;
  font-weight: normal;
}
header nav {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
header nav .navItem {
  position: relative;
  height: 34px;
  color: #fff;
  border-radius: 8px;
  font-weight: 300;
  margin: 8px 0px;
  padding: 8px 10px;
  box-sizing: border-box;
  cursor: pointer;
}
header nav .navItem:hover {
  background-color: var(--shadow);
}
header nav .navItem .navHomeItem {
  position: relative;
  display: flex;
}
header nav .navItem .navHomeItem svg {
  width: 25px;
  height: 25px;
  margin-top: -3px;
  fill: #fff;
}
header nav .navItem .navHomeItem i {
  margin-top: 0px;
  margin-left: 5px;
  font-style: normal;
}
header nav .navSeparator {
  position: relative;
  margin: 8px 0px;
  padding: 8px 6px;
  font-size: 11pt;
  color: #fff;
  cursor: default;
}
header div#options {
  position: relative;
  width: 200px;
  height: 100%;
  padding-left: 50px;
  padding-right: 20px;
  display: flex;
  flex-direction: row-reverse;
}
header div#options #searchBar {
  position: relative;
  width: auto;
  height: 50px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}
header div#options #searchBar #searchBox {
  width: 240px;
  font-size: 13pt;
  padding: 0px 10px 0px 28px;
  box-sizing: border-box;
  border: 0px;
  color: #ddd;
  outline: 0;
  height: 32px;
  background-color: transparent;
}
header div#options #searchBar #searchBox:placeholder-shown ~ #searchBarIcon, header div#options #searchBar #searchBox:placeholder-shown ~ #searchBarIcon {
  fill: rgba(255, 255, 255, 0.5);
}
header div#options #searchBar #searchBox:not(:placeholder-shown) ~ #searchBarIcon, header div#options #searchBar #searchBox:not(:placeholder-shown) ~ #searchBarIcon {
  fill: #ddd;
}
header div#options #searchBar label {
  position: absolute;
  width: 22px;
  height: 22px;
}
header div#options #searchBar label #searchBarIcon {
  position: absolute;
  width: 22px;
  height: 22px;
  fill: rgba(255, 255, 255, 0.5);
  cursor: text;
}
header div#options .option {
  position: relative;
  width: 50px;
  height: 50px;
}
header div#options .option .optionArea {
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background-color: var(--shadow);
  transition: all 0.2s;
}
header div#options .option svg {
  position: relative;
  width: 34px;
  height: 34px;
  padding: 8px 8px;
  fill: #fff;
  z-index: 1;
}
header div#options .option svg:hover ~ .optionArea {
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  border-radius: 0%;
}
header div#options .optDropDown {
  position: absolute;
  width: 260px;
  height: auto;
  right: 0px;
  top: 50px;
  padding: 8px 0px;
  background-color: #fff;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: none;
}
header div#options .optDropDown .optViewDesplActive {
  background-color: rgba(0, 0, 0, 0.1);
}
header div#options .optDropDown div.optDropDownItem {
  position: relative;
  width: 100%;
  padding: 12px 14px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
}
header div#options .optDropDown div.optDropDownItem:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
header div#options .optDropDown div.optDropDownItem:hover .optChainDropdown {
  display: flex;
}
header div#options .optDropDown div.optDropDownItem .optMoreDisabled {
  color: #aaa;
}
header div#options .optDropDown div.optDropDownItem .optMoreDisabled:hover {
  background-color: #fff;
}
header div#options .optDropDown div.optDropDownItem .optMoreDisabled svg {
  fill: #aaa;
}
header div#options .optDropDown div.optDropDownItem .optMoreDisabled p small {
  color: #ddd;
}
header div#options .optDropDown div.optDropDownItem svg {
  width: 25px;
  height: 25px;
  margin-right: 12px;
}
header div#options .optDropDown div.optDropDownItem p {
  margin-top: 2px;
}
header div#options .optDropDown div.optDropDownItem p small {
  color: #aaa;
  margin-left: 12px;
}
header div#options .optDropDown .optChainDropdown {
  position: absolute;
  width: 220px;
  margin-left: -236px;
  top: -8px;
  padding: 8px 0px;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  display: none;
}

#searchBox::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  padding-top: 50px;
  box-sizing: border-box;
}
main #errorReporting {
  position: fixed;
  right: 0px;
  z-index: 1;
}
main #errorReporting .errorItem {
  position: relative;
  max-width: 400px;
  padding: 10px 35px;
  margin: 10px 18px;
  background-color: rgba(255, 68, 68, 0.8);
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}
main #errorReporting .errorItem svg {
  width: 30px;
  height: 30px;
  fill: #fff;
}
main #errorReporting .errorItem p {
  color: #fff;
  font-size: 13pt;
  padding: 5px 12px;
}
main #shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--shadow);
  display: none;
  z-index: 2;
}
main #mainCenter {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
main #mainCenter aside {
  position: relative;
  width: 320px;
  margin-left: 0px;
  height: 100%;
  background-color: #8eacbc;
  background-color: var(--asideColor);
  display: flex;
  flex-direction: column;
  transition: margin-left 0.4s;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08);
  z-index: 1;
}
main #mainCenter aside #asideFavorites {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 190px;
  border-bottom: 1px solid var(--lightSeparator);
  /*box-shadow: -2px 2px 4px rgba(120,144,156,.4)*/
}
main #mainCenter aside #asideFavorites #favTitle {
  justify-content: space-between;
}
main #mainCenter aside #asideFavorites #favTitle div {
  display: flex;
  flex-direction: row;
}
main #mainCenter aside #asideFavorites #favTitle #favCount {
  padding: 0px 15px;
}
main #mainCenter aside #asideFavorites #asideFavBody {
  padding: 4px 0px 8px;
  overflow: auto;
  max-height: 143px;
}
main #mainCenter aside #asideFavorites #asideFavBody .favFolder {
  padding: 3px 10px;
  box-sizing: border-box;
  cursor: pointer;
}
main #mainCenter aside #asideFavorites #asideFavBody .favFolder:hover {
  background-color: var(--shadow);
}
main #mainCenter aside #asideFavorites #asideFavBody .favFolder small {
  font-size: 10pt;
  font-weight: 300;
  font-style: italic;
  margin-left: 12px;
  color: #444;
}
main #mainCenter aside #asideTree {
  position: relative;
  width: 100%;
  height: auto;
  overflow: auto;
}
main #mainCenter aside .asideTitle {
  position: relative;
  width: 100%;
  height: 30px;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  cursor: default;
}
main #mainCenter aside .asideTitle svg {
  width: 25px;
  height: 25px;
  fill: #222;
  margin: 2px 8px;
}
main #mainCenter aside .asideTitle p {
  margin: 5px 0px;
}
main #mainCenter section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--sectionColor);
}
main #mainCenter section #itemArea {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  color: var(--itemTxt);
  padding-bottom: 40px;
  /* estilos para las distintas vistas */
}
main #mainCenter section #itemArea #emptyFolder {
  padding: 30px 60px;
  cursor: default;
}
main #mainCenter section #itemArea .item {
  position: relative;
  padding: 0px 12px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
}
main #mainCenter section #itemArea .item:hover {
  background-color: var(--itemHover);
}
main #mainCenter section #itemArea .itemHidden {
  opacity: 0.4;
}
main #mainCenter section #itemArea .itemActive {
  background-color: var(--itemHover);
}
main #mainCenter section #itemArea .itemMosaic {
  width: 16.6666666667%;
  height: 60px;
}
main #mainCenter section #itemArea .itemMosaic .itemLogo {
  position: relative;
  width: 60px;
  height: 100%;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #mainCenter section #itemArea .itemMosaic .itemLogo svg, main #mainCenter section #itemArea .itemMosaic .itemLogo img {
  height: 42px;
}
main #mainCenter section #itemArea .itemMosaic .itemText {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 12px;
}
main #mainCenter section #itemArea .itemMosaic .itemText p {
  font-size: 13pt;
  margin: 8px 0px;
  word-wrap: break-word;
  cursor: default;
}
main #mainCenter section #itemArea .itemMosaic .itemText p[split-lines] {
  white-space: pre-wrap;
}
main #mainCenter section #itemArea .itemMosaic .itemFiletype, main #mainCenter section #itemArea .itemMosaic .itemFilesize {
  display: none;
}
main #mainCenter section #itemArea .itemList {
  width: 100%;
  height: 60px;
}
main #mainCenter section #itemArea .itemList .itemLogo {
  position: relative;
  width: 60px;
  height: 60px;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #mainCenter section #itemArea .itemList .itemLogo svg, main #mainCenter section #itemArea .itemList .itemLogo img {
  height: 42px;
}
main #mainCenter section #itemArea .itemList .itemText {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 18px;
  display: flex;
  align-items: center;
}
main #mainCenter section #itemArea .itemList .itemText p {
  font-size: 13pt;
  margin: 8px 0px;
  word-wrap: break-word;
  cursor: default;
}
main #mainCenter section #itemArea .itemList .itemText p[split-lines] {
  white-space: pre-wrap;
}
main #mainCenter section #itemArea .itemList .itemFiletype {
  position: relative;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
}
main #mainCenter section #itemArea .itemList .itemFiletype p {
  font-size: 13pt;
  margin: 8px 0px;
  cursor: default;
}
main #mainCenter section #itemArea .itemList .itemFilesize {
  position: relative;
  width: 200px;
  height: 100%;
  margin-right: 20%;
  display: flex;
  align-items: center;
}
main #mainCenter section #itemArea .itemList .itemFilesize p {
  font-size: 13pt;
  margin: 8px 0px;
  cursor: default;
}
main #mainCenter section #itemArea .itemWall {
  width: auto;
  height: auto;
  flex-direction: column;
}
main #mainCenter section #itemArea .itemWall .itemLogo {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 9px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
main #mainCenter section #itemArea .itemWall .itemLogo svg, main #mainCenter section #itemArea .itemWall .itemLogo img {
  width: 50px;
  height: 50px;
}
main #mainCenter section #itemArea .itemWall .itemText {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
main #mainCenter section #itemArea .itemWall .itemText p {
  font-size: 13pt;
  margin: 8px 0px;
  margin: 8px auto;
  word-wrap: break-word;
  cursor: default;
}
main #mainCenter section #itemArea .itemWall .itemText p[split-lines] {
  white-space: pre-wrap;
}
main #mainCenter section #itemArea .itemWall .itemFiletype, main #mainCenter section #itemArea .itemWall .itemFilesize {
  display: none;
}
main #mainCenter section #searchArea {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  font-size: 13pt;
  background-color: var(--sectionColor);
  display: none;
  flex-direction: column;
}
main #mainCenter section #searchArea #searchAreaHeader {
  position: relative;
  width: 100%;
  min-height: 80px;
  padding: 0px 100px;
  overflow: auto;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #mainCenter section #searchArea #searchAreaHeader svg {
  width: 28px;
  height: 28px;
}
main #mainCenter section #searchArea #searchAreaHeader svg:hover {
  fill: #f00;
}
main #mainCenter section #searchArea #searchAreaContent {
  position: relative;
  width: 100%;
  flex: 1;
}
main #mainCenter section #searchArea #searchAreaContent #searchNoResults {
  padding: 26px 50px;
}
main #mainCenter section #searchArea #searchAreaContent .item {
  position: relative;
  padding: 0px 12px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  cursor: default;
}
main #mainCenter section #searchArea #searchAreaContent .item:hover {
  background-color: var(--itemHover);
}
main #mainCenter section #searchArea #searchAreaContent .item .itemLogo {
  position: relative;
  width: 60px;
  height: 100%;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #mainCenter section #searchArea #searchAreaContent .item .itemLogo svg {
  height: 42px;
}
main #mainCenter section #searchArea #searchAreaContent .item .itemText {
  position: relative;
  min-width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 12px;
}
main #mainCenter section #searchArea #searchAreaContent .item .itemPath {
  position: relative;
  width: 400px;
  height: 100%;
  display: flex;
  align-items: center;
  color: #888;
}
main #mainCenter section #searchArea #searchAreaContent .itemList {
  width: 100%;
  height: 60px;
}
main #mainCenter section #folderBackground {
  position: fixed;
  width: 500px;
  height: 500px;
  right: 10px;
  bottom: 0px;
}
main #mainCenter section #folderBackground svg {
  position: absolute;
  width: 500px;
  height: 500px;
  right: 20px;
  bottom: 14px;
  fill: #f2f2f2;
}
main #mainCenter section #folderInfo {
  position: fixed;
  right: 14px;
  bottom: 8px;
  border-radius: 8px;
  font-size: 11pt;
  padding: 3px 7px 4px;
  background-color: rgba(0, 0, 0, 0.07);
  cursor: default;
}

/* ----- aside ----- */
details {
  margin: 0px;
  color: #444444;
  padding: 5px;
  cursor: default;
  -webkit-transition: all 0.1s;
}

details[open] {
  animation-name: slideDown;
  animation-duration: 200ms;
  animation-timing-function: ease-in;
}

details:hover {
  background-color: #ddd;
}

details details {
  border: 0px;
  margin-left: 12px;
}

details summary p.linkTree {
  color: #333333;
}

summary p.linkTree {
  text-decoration: none;
}

summary p.linkTree:focus {
  text-decoration: none;
}

details#activo > summary > p.linkTree {
  color: #2196f3;
}

summary {
  outline: 0;
}

details summary::-webkit-details-marker {
  display: none;
  list-style: none;
}

details > summary {
  list-style: none;
}

summary::before {
  position: relative;
  float: left;
  content: "+";
  color: #444;
  margin-right: 0px;
  padding-right: 12px;
  margin-top: -5px;
  font-size: 18pt;
}

details[open] > summary::before {
  position: relative;
  float: left;
  content: "-";
  margin-left: 0px;
  padding-left: 2px;
  margin-right: 0px;
  padding-right: 14px;
  margin-top: -10px;
  font-size: 22pt;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 20px;
  }
}
aside ::selection {
  background-color: transparent;
}

/* ----- aside spinner ----- */
.spinner {
  margin: 100px auto;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #cfd8dc;
  background-color: var(--primary);
  border-radius: 100%;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* ----- section media queries ----- */
@media screen and (max-width: 2100px) {
  main #mainCenter section #itemArea .itemMosaic {
    width: 20%;
  }
}
@media screen and (max-width: 1750px) {
  main #mainCenter section #itemArea .itemMosaic {
    width: 25%;
  }
}
@media screen and (max-width: 1300px) {
  main #mainCenter section #itemArea .itemMosaic {
    width: 33.33333333%;
  }
}
@media screen and (max-width: 1050px) {
  main #mainCenter section #itemArea .itemMosaic {
    width: 50%;
  }
}
@media screen and (max-width: 750px) {
  main #mainCenter section #itemArea .itemMosaic {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  main #mainCenter aside {
    margin-left: -320px;
  }
}
/* ----- settings tab ----- */
#dialogBack {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  z-index: 12;
  display: none;
}
#dialogBack #imageViewer {
  height: 560px;
}
#dialogBack .dialog {
  position: relative;
  width: 950px;
  height: 520px;
  border-radius: 8px;
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  display: none;
}
#dialogBack .dialog .dialogTitleBar {
  position: relative;
  width: 100%;
  height: 50px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
#dialogBack .dialog .dialogTitleBar div {
  display: flex;
  align-items: center;
}
#dialogBack .dialog .dialogTitleBar div .settingsTitleIcon {
  width: 30px;
  height: 30px;
  fill: #555;
  padding-left: 26px;
}
#dialogBack .dialog .dialogTitleBar div h2 {
  padding: 0px 14px;
  font-weight: normal;
  display: flex;
  cursor: default;
  align-items: center;
}
#dialogBack .dialog .dialogTitleBar div h2 #imageViewerUrl, #dialogBack .dialog .dialogTitleBar div h2 #textfileViewerUrl {
  color: #aaa;
  font-size: 15pt;
  margin-left: 20px;
}
#dialogBack .dialog .dialogTitleBar .settingsClose {
  width: 32px;
  height: 32px;
  fill: #888;
  padding: 10px 20px;
}
#dialogBack .dialog .dialogTitleBar .settingsClose:hover {
  fill: #f00;
}
#dialogBack .dialog .dialogBody {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 100%;
  padding-top: 50px;
  box-sizing: border-box;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem {
  position: relative;
  width: 100%;
  height: auto;
  padding: 16px 24px;
  box-sizing: border-box;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem:hover input[type=text] {
  background-color: rgba(0, 0, 0, 0);
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem h3 {
  color: #777;
  margin-bottom: 8px;
  font-weight: 300;
  cursor: default;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem p, #dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem label, #dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem span {
  color: #333;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem #settFormStartUp {
  display: flex;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem label {
  cursor: pointer;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem select {
  width: 200px;
  height: 32px;
  font-size: 13pt;
  color: #555;
  border: 0px;
  outline: 0;
  padding: 0px 12px;
  margin: 10px 0px;
  background-color: transparent;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem select:focus {
  background-color: #fff;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem .hiddenCheckbox {
  display: none;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem #darkModeCheckbox:checked ~ div #settCheckLabelDarkMode .settCheckboxIconOff {
  display: none;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem #darkModeCheckbox:checked ~ div #settCheckLabelDarkMode .settCheckboxIconOn {
  display: block;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem #showHiddenCheckbox:checked ~ div #settCheckLabelShowHidden .settCheckboxIconOff {
  display: none;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem #showHiddenCheckbox:checked ~ div #settCheckLabelShowHidden .settCheckboxIconOn {
  display: block;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem #showExtensionCheckbox:checked ~ div #settCheckLabelShowExt .settCheckboxIconOff {
  display: none;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem #showExtensionCheckbox:checked ~ div #settCheckLabelShowExt .settCheckboxIconOn {
  display: block;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem #systemIndexPriority:checked ~ div #settCheckLabelIndexPriority .settCheckboxIconOff {
  display: none;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem #systemIndexPriority:checked ~ div #settCheckLabelIndexPriority .settCheckboxIconOn {
  display: block;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem #defaultViewMosaic:checked ~ #settRadioLabelMosaic .settRadioIconOff {
  display: none;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem #defaultViewMosaic:checked ~ #settRadioLabelMosaic .settRadioIconOn {
  display: block;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem #defaultViewList:checked ~ #settRadioLabelList .settRadioIconOff {
  display: none;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem #defaultViewList:checked ~ #settRadioLabelList .settRadioIconOn {
  display: block;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem #defaultViewWall:checked ~ #settRadioLabelWall .settRadioIconOff {
  display: none;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem #defaultViewWall:checked ~ #settRadioLabelWall .settRadioIconOn {
  display: block;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem #defaultViewLast:checked ~ #settRadioLabelLast .settRadioIconOff {
  display: none;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem #defaultViewLast:checked ~ #settRadioLabelLast .settRadioIconOn {
  display: block;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem div {
  padding: 0px 8px;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem div .settCheckLabel {
  width: 320px;
  display: flex;
  align-items: center;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem div .settRadioLabel {
  width: auto;
  display: flex;
  align-items: center;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem div .settCheckboxIconOff, #dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem div .settRadioIconOff {
  margin-right: 6px;
  display: block;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem div .settCheckboxIconOn, #dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem div .settRadioIconOn {
  margin-right: 6px;
  fill: var(--primary);
  display: none;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem div input[type=checkbox], #dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem div input[type=radio] {
  vertical-align: middle;
  margin-right: 8px;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem div button {
  padding: 8px 16px;
  margin: 10px 5px;
  font-size: 12pt;
  background-color: #ddd;
  border-radius: 8px;
  border: 0px;
  outline: 0;
  cursor: pointer;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsItem div button:hover {
  background-color: #ccc;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter #settingsItemGeneral div {
  margin: 6px 0px;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter #settingsItemStartUp div form {
  margin: 5px 0px;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter #settingsItemStartUp div label {
  margin: 0px 10px;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter #settingsItemPriority p {
  margin: 8px 0px 5px;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsInputText {
  width: 50%;
  margin: 6px 0px;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsInputText .settingsInputEffect {
  position: relative;
  width: 0%;
  left: 50%;
  padding: 0px;
  border-bottom: 2px solid;
  transition: all 0.2s;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsInputText input {
  width: 100%;
  color: #333;
  height: 40px;
  font-size: 13pt;
  padding: 0px 10px;
  border: 0px;
  outline: 0;
  box-sizing: border-box;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsInputText input:hover ~ .settingsInputEffect {
  width: 100%;
  left: 0%;
  border-color: #ccc;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsInputText input:focus ~ .settingsInputEffect {
  width: 100%;
  left: 0%;
  border-color: #34515f;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter .settingsInputText input[disabled] {
  color: #999;
}
#dialogBack .dialog .dialogBody .dialogBodyCenter #settingsVersion {
  position: relative;
  right: 12px;
  bottom: 4px;
  margin-top: 8px;
  text-align: right;
  font-size: 11pt;
  color: #777;
  cursor: default;
}
#dialogBack .dialog #historyBody {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  padding-top: 50px;
  box-sizing: border-box;
}
#dialogBack .dialog #historyBody #historyPaths {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}
#dialogBack .dialog #historyBody #historyPaths .historyItem {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 4px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
}
#dialogBack .dialog #historyBody #historyPaths .historyItem p {
  min-width: 130px;
  padding: 12px 40px;
}
#dialogBack .dialog #historyBody #historyPaths .historyItem p:last-child {
  color: var(--primary);
}
#dialogBack .dialog #historyBody #historyPaths .historyItem svg {
  position: absolute;
  right: 30px;
  width: 30px;
  height: 30px;
  fill: #6f6f6f;
  padding: 7px 25px;
  cursor: pointer;
}
#dialogBack .dialog #historyBody #historyPaths .historyItem svg:hover {
  fill: var(--primary);
}
#dialogBack .dialog #historyBody #historyPaths .historyActive {
  color: var(--primary);
  background-color: var(--itemHover);
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
}
#dialogBack .dialog #imageViewerBody, #dialogBack .dialog #textfileViewerBody {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  padding-top: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
#dialogBack .dialog #imageViewerBody #imageViewerImageCanvas, #dialogBack .dialog #textfileViewerBody #imageViewerImageCanvas {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 28px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
#dialogBack .dialog #imageViewerBody #imageViewerImageCanvas img, #dialogBack .dialog #textfileViewerBody #imageViewerImageCanvas img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
#dialogBack .dialog #imageViewerBody #textfileViewerCanvas, #dialogBack .dialog #textfileViewerBody #textfileViewerCanvas {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 18px;
  box-sizing: border-box;
  overflow: auto;
}
#dialogBack .dialog #imageViewerBody #imageViewerOptions, #dialogBack .dialog #imageViewerBody #textfileViewerOptions, #dialogBack .dialog #textfileViewerBody #imageViewerOptions, #dialogBack .dialog #textfileViewerBody #textfileViewerOptions {
  position: absolute;
  right: 28px;
  bottom: 16px;
}
#dialogBack .dialog #imageViewerBody #imageViewerOptions svg, #dialogBack .dialog #imageViewerBody #textfileViewerOptions svg, #dialogBack .dialog #textfileViewerBody #imageViewerOptions svg, #dialogBack .dialog #textfileViewerBody #textfileViewerOptions svg {
  width: 28px;
  height: 28px;
  fill: #999;
}
#dialogBack .dialog #imageViewerBody #imageViewerOptions svg:hover, #dialogBack .dialog #imageViewerBody #textfileViewerOptions svg:hover, #dialogBack .dialog #textfileViewerBody #imageViewerOptions svg:hover, #dialogBack .dialog #textfileViewerBody #textfileViewerOptions svg:hover {
  fill: var(--primary);
}

@media screen and (max-width: 1080px) {
  #dialogBack .dialog {
    width: 92%;
  }

  #dialogBack #imageViewer {
    width: 92%;
  }
}
@media screen and (max-width: 800px) {
  #dialogBack {
    padding: 20px;
    box-sizing: border-box;
  }
  #dialogBack .dialog {
    width: 100%;
  }
  #dialogBack #imageViewer {
    width: 100%;
  }
}
@media screen and (max-height: 620px) {
  #dialogBack {
    padding: 20px;
    box-sizing: border-box;
  }
  #dialogBack .dialog {
    height: 100%;
    margin-top: 0px;
  }
  #dialogBack #imageViewer {
    height: 100%;
  }
}
/* ----- dark mode ----- */
body.darkMode .screen {
  background-color: var(--darkSection);
  color: #fff;
}

body.darkMode #dialogBack {
  background-color: rgba(0, 0, 0, 0.5);
}

body.darkMode #dialogBack .dialog #textfileViewerBody #textfileViewerCanvas {
  color: #ccc;
}

body.darkMode header {
  background-color: var(--darkPrimary);
}

body.darkMode header #headerTitle #headerLogo #logoBorder {
  fill: var(--primary);
}

body.darkMode header nav .navItem:hover {
  background-color: var(--darkShadow);
}

body.darkMode header div#options .option .optionArea {
  background-color: var(--darkShadow);
}

body.darkMode main #mainCenter aside {
  background: var(--darkAside);
  border-right: 1px solid var(--darkSeparator);
  color: #fff;
}

body.darkMode main #mainCenter aside .asideTitle svg {
  fill: #fff;
}

body.darkMode main #mainCenter aside #asideFavorites {
  border-bottom: 1px solid var(--darkSeparator);
}

body.darkMode main #mainCenter aside #asideFavorites #asideFavBody .favFolder small {
  color: #aaa;
}
body.darkMode main #mainCenter aside #asideFavorites #asideFavBody .favFolder:hover {
  background-color: #555;
  color: #fff;
}
body.darkMode main #mainCenter aside #asideFavorites #asideFavBody .favFolder:hover small {
  color: #ccc;
}

body.darkMode details:hover {
  color: #fff;
  background-color: #555;
}

body.darkMode details summary p.linkTree {
  color: #fff;
}

body.darkMode summary::before {
  color: #fff;
}

body.darkMode header div#options .optDropDown {
  color: #000;
}

body.darkMode #dialogBack .dialog {
  background-color: #333;
}

body.darkMode main #mainCenter section #itemArea {
  color: #9eb9c6;
}

body.darkMode main #mainCenter section #itemArea .item:hover {
  background-color: var(--darkItemHover);
}

body.darkMode main #mainCenter section #itemArea .itemText {
  color: #bbb;
}

body.darkMode main #mainCenter section #folderInfo {
  color: #ddd;
  background-color: rgba(255, 255, 255, 0.07);
}

body.darkMode main #mainCenter section {
  background-color: var(--darkSection);
}

body.darkMode main #mainCenter section #folderBackground svg {
  fill: #22272c;
}

body.darkMode main #mainCenter section #itemArea #emptyFolder {
  color: #ccc;
}

body.darkMode main #mainCenter section #searchArea {
  background-color: var(--darkSection);
}
body.darkMode main #mainCenter section #searchArea #searchAreaHeader {
  border-bottom: 1px solid var(--darkSeparator);
}
body.darkMode main #mainCenter section #searchArea #searchAreaHeader #searchAreaHeaderLeft {
  color: #bbb;
}
body.darkMode main #mainCenter section #searchArea #searchAreaHeader #searchAreaHeaderRight {
  fill: #ddd;
}
body.darkMode main #mainCenter section #searchArea #searchAreaContent #searchNoResults {
  color: #bbb;
}
body.darkMode main #mainCenter section #searchArea #searchAreaContent .item .itemText {
  color: #bbb;
}

body.darkMode #dialogBack .dialog .dialogTitleBar {
  border-radius: 8px 8px 0px 0px;
  background-color: var(--darkDropdown);
}
body.darkMode #dialogBack .dialog .dialogTitleBar .settingsTitleIcon {
  fill: #fff;
}
body.darkMode #dialogBack .dialog .dialogTitleBar .settingsClose {
  fill: #888;
}
body.darkMode #dialogBack .dialog .dialogTitleBar .settingsClose:hover {
  fill: #FF1744;
}
body.darkMode #dialogBack .dialog .dialogBodyCenter .settingsItem:hover {
  background-color: var(--darkDialogShadow);
}
body.darkMode #dialogBack .dialog .dialogBodyCenter .settingsItem h3 {
  color: #fff;
}
body.darkMode #dialogBack .dialog .dialogBodyCenter .settingsItem p, body.darkMode #dialogBack .dialog .dialogBodyCenter .settingsItem label, body.darkMode #dialogBack .dialog .dialogBodyCenter .settingsItem span {
  color: #ddd;
}
body.darkMode #dialogBack .dialog .dialogBodyCenter .settingsItem div .settCheckboxIconOff, body.darkMode #dialogBack .dialog .dialogBodyCenter .settingsItem div .settRadioIconOff {
  fill: #ddd;
}
body.darkMode #dialogBack .dialog .dialogBodyCenter .settingsItem:hover input[type=text] {
  background-color: transparent;
}
body.darkMode #dialogBack .dialog .dialogBodyCenter .settingsItem:hover input[type=text]:hover {
  background-color: rgba(0, 255, 255, 0.05);
}
body.darkMode #dialogBack .dialog .dialogBodyCenter .settingsItem:hover select:hover {
  background-color: rgba(0, 255, 255, 0.05);
}
body.darkMode #dialogBack .dialog .dialogBodyCenter .settingsItem:hover select:focus {
  background-color: #fff;
}
body.darkMode #dialogBack .dialog .dialogBodyCenter .settingsItem select {
  color: #eee;
}
body.darkMode #dialogBack .dialog .dialogBodyCenter .settingsItem select:focus {
  color: #555;
}
body.darkMode #dialogBack .dialog .dialogBodyCenter .settingsInputText input {
  color: #eee;
  background-color: #333;
}
body.darkMode #dialogBack .dialog .dialogBodyCenter .settingsInputText input:hover ~ .settingsInputEffect {
  border-color: #bbb;
}
body.darkMode #dialogBack .dialog .dialogBodyCenter .settingsInputText input:focus ~ .settingsInputEffect {
  border-color: #fff;
}
body.darkMode #dialogBack .dialog .dialogBodyCenter ::-webkit-input-placeholder {
  color: #aaa;
}
body.darkMode #dialogBack .dialog #historyBody #historyPaths .historyItem {
  color: #ccc;
  border-bottom: 1px solid #444;
}
body.darkMode #dialogBack .dialog #historyBody #historyPaths .historyItem p:last-child {
  color: #ddd;
}
body.darkMode #dialogBack .dialog #historyBody #historyPaths .historyItem svg {
  fill: #bbb;
}
body.darkMode #dialogBack .dialog #historyBody #historyPaths .historyItem svg:hover {
  fill: var(--primary);
}
body.darkMode #dialogBack .dialog #historyBody #historyPaths .historyActive {
  color: #ddd;
  background-color: var(--darkDialogShadow);
  border-top: 1px solid var(--darkDialogShadow);
  border-bottom: 1px solid var(--darkDialogShadow);
}

body.darkMode details:hover summary p.linkTree {
  color: #fff;
}

body.darkMode details:hover summary::before {
  color: #fff;
}

body.darkMode header div#options .optDropDown {
  color: #fff;
  background-color: var(--darkDropdown);
}
body.darkMode header div#options .optDropDown div.optDropDownItem svg {
  fill: #fff;
}
body.darkMode header div#options .optDropDown div.optDropDownItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
body.darkMode header div#options .optDropDown div.optDropDownItem:hover .optChainDropdown {
  background-color: var(--darkDropdown);
}

body.darkMode #context {
  background-color: var(--darkDropdown);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
  border: 1px solid #383838;
}
body.darkMode #context ul li {
  color: #fff;
}
body.darkMode #context ul li:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

body.darkMode #blocked #blockedBack #signIn {
  border: 1px solid #444;
}
body.darkMode #blocked #blockedBack #signIn #signInTitle {
  background-color: #333;
}
body.darkMode #blocked #blockedBack #signIn #signInBody .signInBodyItem #signInUser, body.darkMode #blocked #blockedBack #signIn #signInBody .signInBodyItem #signInPass {
  color: #ddd;
  background-color: transparent;
}
body.darkMode #blocked #blockedBack #signIn #signInBody svg {
  fill: #ddd;
}
body.darkMode #blocked #blockedBack #signIn #signInBody .signInBodyItem #signInUser:focus ~ .signInInputEffect, body.darkMode #blocked #blockedBack #signIn #signInBody .signInBodyItem #signInPass:focus ~ .signInInputEffect {
  border-color: #fff;
}
body.darkMode #blocked #blockedBack #signIn #signInBody .signInBodyItem #signInSubmit {
  color: #ddd;
  background-color: rgba(255, 255, 255, 0.1);
}
body.darkMode #blocked #blockedBack #signIn #signInBody .signInBodyItem #signInSubmit:hover, body.darkMode #blocked #blockedBack #signIn #signInBody .signInBodyItem #signInSubmit:focus {
  background-color: rgba(255, 255, 255, 0.4);
}
body.darkMode #blocked #blockedBack #loginLang select {
  color: #ddd;
  background-color: transparent;
}
body.darkMode #blocked #blockedBack #loginLang select:focus {
  color: #222;
  background-color: #fff;
}

/* ---- context menu ---- */
#context {
  position: absolute;
  width: 180px;
  height: auto;
  background-color: #fff;
  box-shadow: 2px 2px 7px #ccc;
  overflow: hidden;
  opacity: 0.8;
  cursor: default;
  display: none;
  z-index: 15;
  -webkit-transition: left 0.5s, top 0.5s, opacity 0.4s;
  -moz-transition: left 0.5s, top 0.5s, opacity 0.4s;
  -o-transition: left 0.5s, top 0.5s, opacity 0.4s;
  -ms-transition: left 0.5s, top 0.5s, opacity 0.4s;
}
#context:hover {
  opacity: 1;
}
#context ul {
  position: relative;
  width: 100%;
  height: auto;
  margin: 5px 0px;
  padding: 0px;
  list-style-type: none;
}
#context ul li {
  position: relative;
  width: 100%;
  height: auto;
  color: #282828;
  font-size: 12pt;
  border-radius: 50%;
  padding: 12px 0px;
  text-align: center;
  box-sizing: border-box;
}
#context ul li:hover {
  border-radius: 0px;
  color: #fff;
  background-color: #2177ff;
}
#context ul li.disabled {
  color: rgba(40, 40, 40, 0.5);
}
#context ul li.disabled:hover {
  color: #ffffff;
  background-color: #b4b4b4;
}

/* ----- scroll ----- */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

/*# sourceMappingURL=main.css.map */
